@use '../shared/editor.scss';

.wp-block-vessel-fanart {
	.image-upload-preview img {
		max-width: 100%;
	}

	.credit {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	
	.info {
		margin-block: 15px;
		display: flex;
		gap: 20px;
		width: 100%;

		& > * {
			width: 100%;
		}
	}
}
