@use '@/styles/partials/colors.scss';

.page-link {
	display: inline-block;
	text-decoration: none;
	color: colors.$deep-dark;
	background-color: colors.$med-light;
	padding: 10px 20px;
	border-radius: 10px;
	margin-right: 10px;
	transition: ease-in-out .1s;

	&:hover {
		background-color: colors.$ice-blue
	}
}