@use '@/styles/partials/colors.scss';

.page-link {
	display: inline-block;
	text-decoration: none;
	color: colors.$deep-dark;
	background-color: colors.$med-light;
	padding: 10px 20px;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: ease-in-out .1s;

	svg {
		position: relative;
		transform: rotate(-8deg);
		top: 6px;
		left: -6px;
		margin-top: -100%;
	}

	&:hover {
		background-color: colors.$ice-blue
	}
}