@use '@/styles/partials/colors.scss';

.blog-archive__list {
	padding: 0;
	list-style: none;
	gap: 15px;
	display: flex;
	flex-wrap: wrap;
}

.blog-link {
	display: flex;
	gap: 10px;
	align-items: center;
	color: colors.$deep-dark;
	text-decoration: none;
	background-color: colors.$med-light;
	border-radius: 10px;
	padding: 10px 15px;
	transition: ease-in-out .1s;
	width: calc( 50% - 15px );

	&:hover {
		background-color: colors.$ice-blue
	}

	h3 {
		margin: 0;
	}
}

.blog-link__date {
	font-size: 0.8rem;
	font-style: italic;
	color: colors.$shallow-dark;
}

.author {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
	text-align: right;

	h3 {
		margin: 0;
	}

	.date {
		font-style: italic;
		color: colors.$shallow-dark;
	}
}

figure {
	figcaption {
		margin: 0;
		text-align: center;
		color: colors.$shallow-dark;
		font-style: italic;
		font-size: 0.8rem;
	}

	img {
		border-radius: 10px;
	}
}

@media screen and ( max-width: 600px ) {
	.blog-link {
		width: 100%;
	}

	.author img {
		width: 75px;
		height: 75px;
	}
}