@use '@/styles/partials/colors.scss';

.blog-archive__list {
	padding: 0;
	list-style: none;
	columns: 2;
	gap: 15px;
}

.blog-link {
	display: block;
	color: colors.$deep-dark;
	text-decoration: none;
	background-color: colors.$med-light;
	border-radius: 10px;
	padding: 10px 20px;
	transition: ease-in-out .1s;
	position: relative;
	break-inside: avoid;
	margin-bottom: 15px;
	
	&:hover {
		background-color: colors.$ice-blue
	}

	h4 {
		margin: 0;
	}
	
	p {
		margin: 0;
	}
}

.blog-link__date {
	font-size: 12px;
	font-style: italic;
	color: colors.$shallow-dark;
	float: right;
}

@media screen and ( max-width: 600px ) {
	.blog-archive__list {
		columns: 1;
	}
}