@use '@/styles/partials/mixins.scss';
@use '@/styles/partials/colors.scss';
@use '@/styles/partials/fonts.scss';

main.characters,
main.character {
	select {
		cursor: pointer;
		font-size: 20px;
		padding: 10px 15px;
		border: none;
		border-radius: 10px;
	}
}

.how-far {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	background-color: colors.$med-light;
	border-radius: 30px;
	padding: 25px;

	h2 {
		margin: 0;
	}
}

.character-bio {
	background-color: colors.$med-light;
	border-radius: 30px;
	padding: 20px;
	margin-top: 30px;
	display: flex;
	gap: 25px;
	color: inherit;
	text-decoration: none;
	font-weight: inherit;
	font-family: inherit;
	transition: .2s ease-in-out;
	outline-color: colors.$ice-blue;
	
	h2 {
		margin: 0;
	}

	p {
		margin-top: 10px;
	}

	&:hover {
		outline: 3px solid colors.$ice-blue;
	}
}

.single-character {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
	margin-top: 30px;
}

.character-descriptions {
	width: 100%;
}

.character-description {
	margin-bottom: 30px;
	width: 100%;

	h3 {
		margin: 0;
	}

	&.hidden {
		border-radius: 15px;
		background-color: colors.$shallow-dark;
		position: relative;

		.reveal-button {
			display: block;
		}

		& > *:not( .unblur ) {
			filter: blur( 10px );
		}
	}

	.reveal-button {
		@include mixins.absolute-centre;
		display: none;
		border: none;
		border-radius: 30px;
		padding: 0 20px;
		cursor: pointer;

		&:hover {
			background-color: colors.$ice-blue;
		}
	}
}

.character-portrait {
	background-color: colors.$ice-blue;
	border-radius: 15px;
}

@media screen and ( max-width: 600px ) {
	.character-bio {
		flex-direction: column;
		align-items: center;
	}
}