@use '@/styles/partials/mixins.scss';
@use '@/styles/partials/colors.scss';
@use '@/styles/partials/fonts.scss';
@use '@/styles/layout.scss';

@mixin inline-link {
	color: colors.$powder-pink;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

html {
	font-size: 18px;
	background-color: colors.$med-dark;

	@media screen and ( max-width: 900px ) {
		font-size: 16px;
	}
}

body {
	margin: 0;
	background: linear-gradient( colors.$shallow-dark, colors.$ice-blue );
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	max-width: 860px;
	width: 100%;
	margin: 5vw auto;
	background-color: colors.$bright-light;
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 30px 40px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px -15px colors.$deep-dark;

	&.loading {
		min-height: 500px;
	}
}

* {
	font-family: fonts.$body;
	box-sizing: border-box;
}

h1 {
	font-family: fonts.$titles;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	font-family: fonts.$titles;
	font-weight: 200;
	margin-bottom: 0;
}

p {
	margin-block: 15px;

	a {
		@include inline-link();
	}
}

ul {
	padding-left: 25px;
	margin: 10px 0 15px 0;

	li {
		a {
			@include inline-link();
		}
	}
}

hr {
	border: none;
	outline: none;
	width: 100%;
	height: 2px;
	background-color: colors.$deep-dark;
	margin: 15px 0;
}

.sign-in {
	cursor: pointer;
	border-radius: 30px;
	border: none;
	outline: none;
	padding: 10px 25px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition: .2s ease-in-out;
	width: 100%;
	text-decoration: none;

	&:hover {
		box-shadow: 0 10px 20px -14px colors.$deep-dark;
	}
}

.discord-sign-in {
	background-color: colors.$discord-blurple;
	color: colors.$bright-light;
}

.kofi-sign-in {
	background-color: colors.$kofi-orange;
	color: colors.$deep-dark;
}

.sign-in-buttons {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.pronouns {
	font-size: 0.8em;
	font-style: italic;
	color: colors.$shallow-dark;
	margin-top: -0.2em;
	display: block;
}

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

@media screen and ( max-width: 600px ) {
	main {
		margin-block: 0;
		border-radius: 0;
	}

	.sign-in-buttons {
		flex-direction: column;
	}
}

@media ( display-mode: minimal-ui ) {
	// * {
	// 	color: red !important;
	// }
}