@use './partials/colors.scss';
@use './partials/fonts.scss';

header {
	width: 100%;
	display: flex;
	background-color: colors.$deep-dark;
	justify-content: space-between;
	margin-bottom: 60px;

	.header-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 20px;

		.text-logo {
			height: 4vw;
			max-height: 50px;
			max-height: 100%;
			max-width: 400px;
			width: 100%;
		}
	}

	.main-nav {
		width: 100%;
		display: flex;
		justify-content: space-around;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: colors.$bright-light;
			text-decoration: none;
			font-family: fonts.$titles;
			color: colors.$ice-blue;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.3rem;
			padding-inline: 25px;

			&:hover {
				background: colors.$ice-blue;
				color: colors.$deep-dark;
			}
		}
	}
}

footer {
	width: 100%;
	padding: 30px;
	background-color: colors.$deep-dark;
	margin-top: 60px;
	color: colors.$bright-light;

	h4 {
		border-right: 2px solid colors.$bright-light;
		padding-right: 20px;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	a {
		color: colors.$ice-blue;
		text-decoration: none;

		&:hover {
			color: colors.$bright-light;
		}
	}
}

@media screen and ( max-width: 600px ) {
	header {
		flex-direction: column;

		.header-logo {
			padding: 10px;
		}

		.main-nav {
			a {
				padding: 15px 0;
			}
		}
	}
}