@use '@/styles/partials/colors.scss';
@use '@/styles/partials/fonts.scss';

header {
	width: 100%;
	display: flex;
	background-color: colors.$med-dark;
	justify-content: space-between;

	.header-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;

		.text-logo {
			height: 5vw;
			max-height: 100%;
			max-width: 400px;
			width: 100%;
		}
	}

	.main-nav {
		width: 100%;
		display: flex;
		justify-content: space-around;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: colors.$bright-light;
			text-decoration: none;
			font-family: fonts.$titles;
			color: colors.$ice-blue;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 1.2rem;
			padding-inline: 25px;

			&.small {
				width: fit-content;
			}

			&:hover {
				background: colors.$ice-blue;
				color: colors.$deep-dark;
			}

		}
	}

	button.hamburger {
		display: none;
		margin-right: 10px;

		&.active {
			position: fixed;
			right: 0;
		}
	}
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

footer {
	width: 100%;
	padding: 30px;
	background-color: colors.$med-dark;
	color: colors.$bright-light;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: auto;

	h4 {
		border-right: 2px solid colors.$bright-light;
		padding-right: 20px;
		margin-block: 20px;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	a {
		color: colors.$ice-blue;
		text-decoration: none;

		&:hover {
			color: colors.$bright-light;
		}
	}

	hr {
		background-color: colors.$shallow-dark;
		max-width: 600px;
	}
}

@media screen and ( max-width: 860px ) {
	.small {
		img {
			width: 40px;
			height: 40px;
		}
	}
}

@media screen and ( max-width: 650px ) {
	header {
		align-items: center;
		justify-content: space-between;

		.header-logo {
			padding: 10px;
		}

		button.hamburger {
			display: block;
			z-index: 105;
		}

		.main-nav {
			display: none;
			flex-direction: column;
			justify-content: space-between;
			position: fixed;
			background-color: colors.$med-dark;
			top: 0;
			z-index: 100;
			height: 100%;
			padding-top: 50px;

			a {
				height: 100%;

				&.small {
					width: 100%;
				}
			}

			&.show {
				display: flex;
			}
		}
	}

	footer {
		flex-direction: column;
		gap: 10px;

		h4 {
			border-right: none;
			display: none;
		}
	}
}

.ko-fi {
	position: relative;

	.hover {
		display: none;
	}

	&:hover {
		.hover {
			display: block;
			position: absolute;
			top: 100%;
			width: fit-content;
			white-space: nowrap;
			right: 0;
			background-color: colors.$ice-blue;
			padding: 10px 15px;
			border-radius: 0 0 0 15px;
		}
	}
}

.subscribe-banner {
	width: fit-content;
	position: relative;
	margin: 15px auto;

	img {
		max-width: 100%;
		height: auto;
	}

	button {
		border: none;
		background: colors.$bright-light;
		border-radius: 100%;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;

		&:hover {
			background-color: colors.$ice-blue;
		}
	}
}