@use './partials/colors.scss';

$title-font: 'LEMON MILK', 'Comfortaa', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


header {
	width: 100%;
	display: flex;
	background-color: colors.$deep-dark;
	justify-content: space-between;
	margin-bottom: 30px;

	.header-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 20px;

		.text-logo {
			max-width: 400px;
			width: 100%;
		}
	}

	.main-nav {
		width: 100%;
		display: flex;
		justify-content: space-around;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: colors.$bright-light;
			text-decoration: none;
			font-family: $title-font;
			color: colors.$ice-blue;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.5rem;
			padding-inline: 25px;

			&:hover {
				background: colors.$ice-blue;
				color: colors.$deep-dark;
			}
		}
	}
}