@use '@/styles/partials/colors.scss';

main.page-reader {
	width: fit-content;
	padding: 0;
	background-color: colors.$med-dark;
}

.placeholder-page {
	max-width: 100%;
	width: 860px;
	height: 2000px;
}

.page-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.page-reader-nav {
	display: flex;
	justify-content: center;

	.button, select {
		cursor: pointer;
		font-size: 20px;
		background: none;
		border: none;
		padding: 10px;
		color: colors.$ice-blue;
		display: block;
		text-decoration: none;
		text-align: center;

		svg {
			margin-bottom: -2px;
			margin-right: 5px;
		}

		path {
			fill: colors.$ice-blue;
		}

		&:hover:not( :disabled ) {
			background: colors.$ice-blue;
			color: colors.$deep-dark;

			path {
				fill: colors.$deep-dark;
			}
		}

		&:disabled {
			background: none;
			opacity: .5;
			cursor: not-allowed;
		}
	}

}

.authors-note {
	margin: 5px 20px 20px;
	background: colors.$med-light;
	border-radius: 5px;
	display: flex;
	padding: 20px;
	gap: 15px;

	.date {
		font-size: 0.8em;
		font-style: italic;
		color: colors.$shallow-dark;
	}
}

.character-tags {
	margin: 0 15px 15px 15px;
	display: flex;
	gap: 5px;
	align-items: center;

	h3 {
		font-size: 0.8em;
		color: colors.$ice-blue;
	}
}

.character-tag {
	background-color: colors.$ice-blue;
	padding: 2px 5px;
	border-radius: 3px;
	color: inherit;
	text-decoration: none;

	&:hover {
		background-color: colors.$powder-pink;
		.character-tag-popup {
			display: flex;
		}
	}
}

.character-tag-popup {
	background: colors.$ice-blue;
	display: none;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 500px;
	max-width: calc( 100% - 20px );
	border-radius: 15px;
	gap: 10px;
	padding: 10px;
	box-shadow: 0px 3px 8px -6px colors.$deep-dark;

	h4 {
		margin: 0;
	}

	.character-portrait-frame {
		margin: 0;
		min-width: 50px;
		width: 50px;
		height: 50px;
		position: relative;
		border-radius: 7px;
		overflow: hidden;
	}
}

.page {
	position: relative;
	max-width: 100vw;
}

.page-area {
	width: 50%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;

	&.backward {
		cursor: w-resize;
		left: 0;

		@media screen and ( max-width: 650px ) {
			display: none;
		}
	}

	&.forward {
		cursor: e-resize;
		right: 0;

		@media screen and ( max-width: 650px ) {
			width: 100%;
		}
	}
}

@media screen and ( max-width: 860px ) {
	main.page-reader {
		margin-block: 0;
		border-radius: 0;
	}
}

@media screen and ( max-width: 500px ) {
	.page-reader-nav {
		select {
			padding-inline: 25px;
		}
	
		.button {
			width: 100%;
			text-align: center;
	
			span {
				display: none;
			}
		}
	}

	.authors-note {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		gap: 0;
	}
}