@use '@/styles/partials/colors.scss';

main.page-reader {
	width: fit-content;
	padding: 0;
	background-color: colors.$med-dark;
}

.placeholder-page {
	max-width: 100%;
	width: 1200px;
	height: 2000px;
}

.page-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.page-reader-nav {
	display: flex;
	align-items: center;
	justify-content: center;

	button, select {
		cursor: pointer;
		font-size: 20px;
		background: none;
		border: none;
		padding: 10px;
		color: colors.$ice-blue;

		&:hover:not( :disabled ) {
			background: colors.$ice-blue;
			color: colors.$deep-dark;
		}

		&:disabled {
			background: none;
			opacity: .5;
			cursor: not-allowed;
		}
	}
}

@media screen and ( max-width: 1200px ) {
	main.page-reader {
		margin-block: 0;
		border-radius: 0;
	}
}

@media screen and ( max-width: 500px ) {
	button {
		span {
			display: none;
		}
	}
}