@use '../shared/editor.scss';

.wp-block-vessel-comic-page {
	padding-block: 20px;
	max-width: 100%;

	.inner {
		max-width: 860px;
		margin-inline: auto;
	}

	.image-upload-preview img {
		max-width: 100%;
	}

	label {
		background-color: white;
		padding: 2px 5px;
		border-radius: 3px;
		display: inline-block;
	}
}
